@model PersonModel

@if(ViewBag.person != null)
{
    var jobbase64 = Convert.ToBase64String(Model.JobDoc);
    var jobimgsrc = string.Format("data:image/jpeg;base64,{0}", jobbase64);

    var studybase64 = Convert.ToBase64String(Model.StudyDoc);
    var studyimgsrc = string.Format("data:image/jpeg;base64,{0}", studybase64);

    var birthbase64 = Convert.ToBase64String(Model.BirthDoc);
    var birthimgsrc = string.Format("data:image/jpeg;base64,{0}", birthbase64);



    <div class="dropdown show text-center">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            لیست مدارک
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">مدرک شغلی</a>
            <a class="dropdown-item" href="#">مدرک تحصیلی</a>
            <a class="dropdown-item" href="#">مدرک شناسنامه</a>
        </div>
    </div>
<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Job Cerificate</th>
            <th>Study Certificate</th>
            <th>Birth Certificate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="@jobimgsrc" style="max-height:100px;max-width:100px" />
            </td>
            <td>
                <img src="@studyimgsrc" style="max-height:100px;max-width:100px" />
            </td>
            <td>
                <img src="@birthimgsrc" style="max-height:100px;max-width:100px" />
            </td>
        </tr>
    </tbody>
</table>
}
else if(ViewBag.person == null && ViewBag.post == true){
    <div class="text-center mt-3 p-3">
        <p class="display-5">کاربری با این مشخصات یافت نشد</p>
    </div>

}
else
{
    <form method="post" class="text-center mt-5 p-5" id="searchForm">
        <div class="g-recaptcha" data-sitekey="6LeIqmUpAAAAAKVMvMmUygtqe-4O2RQ2R-XBw7m6"
             data-callback="onSubmit"></div>
        <input type="hidden" id="recaptchaResponse" name="recaptchaResponse" />
        <div class="input-group text-center">
            <input type="text" asp-for="@Model.IdNumber" placeholder="شماره ملی را وارد کنید" class="form-control text-end" />
        </div><br />
        <div class="text-end m-3">
            <span asp-validation-for="@Model.IdNumber" class="text-danger fw-bold"></span>
        </div>
        <br />

        <button class="btn btn-warning fw-bold" type="button" onclick="submitForm()">جستجو</button>
    </form>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("recaptchaResponse").value = token;
        }

        function submitForm() {
            if (document.getElementById("recaptchaResponse").value) {
                document.getElementById("searchForm").submit();
            } else {
                alert("لطفا ابتدا رکپچا را حل کنید");
            }
        }
    </script>
}
